@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", sans-serif;
}

nav, footer {
	background: black;
	color: white;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: large;
}

nav ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 64px;
	align-items: center;
}

nav li {
	display: inline-block;
	margin: 0 16px;
}
nav a {
	color: white;
	text-decoration: none;
}

main {
	background: white;
	padding: 32px;
}
article {
	max-width: 40em;
	margin: auto;
}
article img {
	width: 100%;
}

aside iframe {
	width: 100%;
	height: 400px;
	border: 0;
}
aside img {
	width: 100%;
}

footer ul {
	margin: 0;
	display: flex;
	height: 64px;
	align-items: center;
	gap: 16px;
}
footer li {
	display: inline-block;
}
footer a {
	color: white;
	text-decoration: none;
}

@media (width <= 650px) {
	header {
		flex-direction: column;
		left: 0;
		width: 100%;
	}
	header img {
		float: none;
		max-width: 100%;
	}
	header h1 {
		text-align: center;
	}
}

@media (width >= 950px) {
	article aside:nth-of-type(odd) {
		float: right;
		width: 400px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	article aside:nth-of-type(even) {
		float: left;
		width: 400px;
		margin-right: 10px;
	}
	article {
		max-width: min(1000px, calc(100vw - 200px));
	}
}
