html, body {
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
}

nav {
	background: black;
	color: white;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: large;
}

nav ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 64px;
	align-items: center;
}

nav li {
	display: inline-block;
	margin: 0 16px;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('photo1.jpg');
	background-size: auto calc(max(100vh, 100vw));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

header {
	color: white;
	position: absolute;
	top: calc(50vh - 64px);
	left: 10%;
	display: flex;
	align-items: center;
}
header h1 {
	display: inline-block;
	margin: 16px;
}
header img {
	float: left
}


main {
	margin-top: calc(100vh - 64px);
	background: white;
	padding: 32px;
}
article {
	max-width: 40em;
	margin: auto;
}

aside iframe {
	width: 100%;
	height: 400px;
	border: 0;
}

footer {
	background: black;
	color: lightgray;
	margin: 0;
}
footer ul {
	margin: 0;
	display: flex;
	height: 64px;
	align-items: center;
}
footer li {
	display: inline-block;
}

@media (width >= 950px) {
	article aside {
		float: right;
	}
	article aside iframe {
		margin: 2px;
	}
}